
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#f57cbe, #d1aac9);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
  color: rgba(59, 5, 46, 0.863);
}

nav {
  align-items: center;
  color: rgba(59, 5, 46, 0.863);
  background-color: rgba(238, 217, 233, 0.863);
  display: flex;
  height: 4em;
  padding: 0.5px;
  padding: 1em;
  width: 100vw;
  position: fixed;
  z-index: 2
}

nav a {
  display: inline-block;
  margin: 1em;
}

h1 {
  size: 20em;
}

nav .home {
  flex: 0 0 3;
  color: rgba(59, 5, 46, 0.863);
  float: left;
  height: 1.5em;
  margin: 0 1.5em 0 0;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
}

nav .signin {
  flex: 0 0 3;
  float: right;
  height: 1.5em;
  margin: 0 1.5em 0 0;
  color: rgba(59, 5, 46, 0.863);
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.email {
  margin: 1em;
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  padding-top: 5em;
}

.password {
  margin: 1em;
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  padding-top: 5em;
}

.google {
  color: rgba(59, 5, 46, 0.863);
  justify-content: center;
  margin: 1em;
}


#donut-title {
  text-decoration: none;
  text-align: center;
  color: rgba(59, 5, 46, 0.863);
}

.sides {
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap;

  flex-direction: row; */
  justify-content: center;
  align-content: center;
  /* margin-bottom: 2em; */
}

.wrap {
  flex-grow: 5;
  margin: 1em;
  /* //align-self: auto; */
  /* border: 0.5px solid #49064991; */
  /* position: relative; */
  color: rgb(78, 9, 52);
  text-decoration: none;
  /* font-size: 1em;
  height: 15em; */
}
