* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#f57cbe, #d1aac9);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: bold;
  color: rgba(59, 5, 46, 0.863);
  text-shadow: 0px 2px 3px  rgba(22, 3, 15, 0.205);
  /* text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
  0px -5px 35px rgba(255,255,255,0.3); */
}

a {
  text-decoration: none;
}

label {
  display: block;
  color: rgba(59, 5, 46, 0.863);
}

nav {
  justify-content: space-evenly;
  align-items: center;
  color: rgba(59, 5, 46, 0.863);
  background-color: rgba(238, 217, 233, 0.863);
  display: flex;
  height: 4em;
  padding: 1em;
  width: 100vw;
  position: fixed;
  z-index: 2;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                  0px -5px 35px rgba(255,255,255,0.3);
  }

nav a {
  display: inline-block;
  margin: 1em;
}

h1 {
  size: 20em;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

nav .home {
  flex: 0 0 3;
  color: rgba(59, 5, 46, 0.863);
  float: left;
  height: 1.5em;
  margin: 0 1.5em 0 0;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
}

nav .signin {
  float: left;
  height: 1.5em;
  margin: 0 1.5em 0 0;
  color: rgba(59, 5, 46, 0.863);
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.email {
  margin: 1em;
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  padding-top: 5em;
}

.password {
  margin: 1em;
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  padding-top: 5em;
}


form {
  color: rgba(59, 5, 46, 0.863);
  justify-content: center;
  margin: 7em;
}

.homepage {
  color: rgba(59, 5, 46, 0.863);
  justify-content: center;
  margin: 10em;
}

#donut-title {
  text-decoration: none;
  text-align: center;
  color: rgba(59, 5, 46, 0.863);
}

.sides {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrap {
  margin: 1em;
  color: rgb(78, 9, 52);
  text-decoration: none;
}

#donut-header,
.single-product-title {
  padding-top: 3em;
  text-align: center;
  color: rgb(78, 9, 52);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                0px -5px 35px rgba(255,255,255,0.3);
  /* text-shadow: rgba(124, 51, 116, 0.452) 1px 0 10px; */
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-product {
  justify-content: center;
  text-align: center;
}

.top-padding {
  padding-top: 7em;
}

.buttons {
  text-decoration: none;
  border-radius: 19% ;
  border: 0.1em solid rgb(243, 75, 159);
  text-align: center;
  justify-content: center;
  height: 2em;
  width: 6em;
  margin: 0.5em;
  padding: 0.1em;
  font-size: 0.8em;
  color: 				rgb(248, 210, 242) !important;
	background-color: 	rgb(243, 75, 159);
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(327, 70%, 50%) 0 .1em 3px, hsl(327, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(327, 70%, 50%) 0 .1em 3px, hsl(327, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow: 		inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(327, 70%, 50%) 0 .1em 3px, hsl(327, 80%, 40%) 0 .3em 1px, /* color border */
							rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
}

.google {
  /* color: rgba(59, 5, 46, 0.863); */
  justify-content: center;
  margin: 1em;
  width: 7em;
  height: 3em;
  padding: 0.5em;
}

.search-btn {
  padding: 0.1em;
  justify-content: center;
}
.cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout {
  margin: 1em;
  padding-top: 7em;
}

.cart-image {
  width: 3em;
  height: 3em;
  clear: both;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  padding: 5em;
  color:  rgba(59, 5, 46, 0.863);
  font: 1.4em
}

th,
td {
  padding: 0.7em 0.7em;
  vertical-align: middle;
  text-align: center;
}
thead {
  background: rgb(243, 75, 159);
  background: linear-gradient (rgb(243, 75, 159), #f395e7);
  color: #fff;
  font-size: 1em;
  color: 				rgb(248, 210, 242) !important;
	background-color: 	rgb(243, 75, 159);
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(327, 70%, 50%) 0 .1em 3px, hsl(327, 80%, 40%) 0 .3em 1px, /* color border */;

	-moz-box-shadow: 	inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(327, 70%, 50%) 0 .1em 3px, hsl(327, 80%, 40%) 0 .3em 1px, /* color border */;

	box-shadow: 		inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */
							hsl(327, 70%, 50%) 0 .1em 3px, hsl(327, 80%, 40%) 0 .3em 1px, /* color border */;

}

td {
  border-bottom: 0.05em solid #cecfd5;
  border-right:  0.05em solid #cecfd5;
  vertical-align: middle;
  text-align: center;
}
td:first-child {
  border-left:  0.05em solid #cecfd5;
}
 .cart-title {
  display: block;
  justify-content: center;
  text-align: left;
}
.cart-image {
  text-align: left;
  justify-content: center;
  font-size: 0.5em;
}

.reviewrating {
  display: inline-block;
  /* flex-wrap: wrap; */
  justify-content: center;
  text-shadow: none;
  margin-right: 1em;
}

.reviewratingstar {
  display: inline-block;
  /* margin-top: 8em; */
  margin-right: 1em;
  /* justify-content: center; */
  text-align: center;
  text-shadow: none;
}

.reviewform {
  display: inline-block;
  margin-right: 1em;
  justify-content: center;
  text-align: center;
  text-shadow: none;
}

.reviewratingform {
  display: inline-block;
  justify-content: left;
  text-shadow: none;
}

.formratingstar {
  display: inline-block;
  margin-right: 1em;
  text-align: left;
  text-shadow: none;
}

.form-reviewform {
  margin-bottom: 1em;
  display: inline-block;
  justify-content: left;
  text-align: left;
  text-shadow: none;
}


