* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#f57cbe, #d1aac9);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
  color: rgba(59, 5, 46, 0.863);
}

nav {
  justify-content: space-evenly;
  align-items: center;
  color: rgba(59, 5, 46, 0.863);
  background-color: rgba(238, 217, 233, 0.863);
  display: flex;
  height: 4em;
  padding: 1em;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

nav a {
  display: inline-block;
  margin: 1em;
}

h1 {
  size: 20em;
}

nav .home {
  flex: 0 0 3;
  color: rgba(59, 5, 46, 0.863);
  float: left;
  height: 1.5em;
  margin: 0 1.5em 0 0;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
}

nav .signin {
  float: left;
  height: 1.5em;
  margin: 0 1.5em 0 0;
  color: rgba(59, 5, 46, 0.863);
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.email {
  margin: 1em;
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  padding-top: 5em;
}

.password {
  margin: 1em;
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  padding-top: 5em;
}

.google {
  color: rgba(59, 5, 46, 0.863);
  justify-content: center;
  margin: 1em;
}

form {
  color: rgba(59, 5, 46, 0.863);
  justify-content: center;
  margin: 7em;
}

#donut-title {
  text-decoration: none;
  text-align: center;
  color: rgba(59, 5, 46, 0.863);
}

.sides {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrap {
  margin: 1em;
  color: rgb(78, 9, 52);
  text-decoration: none;
}

#donut-header,
.single-product-title {
  padding-top: 3em;
  text-align: center;
}

.left-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-product {
  justify-content: center;
  text-align: center;
}

.top-padding {
  padding-top: 7em;
}
